@font-face {
    font-family: 'Gibralt';
    src: url('fonts/GibraltDEMO-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GibraltEL';
    src: url('fonts/GibraltDEMO-ExtraLight.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.inactiveFont {
    font-family: 'GibraltEL', sans-serif;
    font-size: 3vh !important;
    color: rgb(33, 33, 33);
}

.inactiveFont:hover {
    font-family: 'GibraltEL', sans-serif;
    font-size: 3vh !important;
    color: rgb(33, 33, 33);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-item {
    margin-right: 100px;
}


.activeFont {
    font-family: 'GibraltEL', sans-serif;
    font-size: 3vh !important;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.logoNAV {
    font-family: 'Gibralt', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.logoNAV_B {
    font-size: 45px;
}

.logoNAV_S {
    font-size: 35px;
}

.logoBox {
    width: 55px;
    padding-right: 10px;

}

.blurred-nav {
    position: relative;
    background-color: rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

.blurred-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    margin: -20px;
    background: inherit;
    z-index: -1;
}

/* For browsers that support backdrop-filter */
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    .blurred-nav {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    .blurred-nav::before {
        display: none;
    }
}

.logoNAV:hover {
    color: darkslategrey;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.a-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.screeners {
    width: 32px;
    position: fixed;
    bottom: 6px;
    left: 6px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1px;
    border-radius: 4px;
    z-index: 1000;
}

.buttonYellow {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    outline: none;
    font-weight: bolder;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.2s ease;
}

.buttonYellow:hover {
    background-color: rgb(243, 180, 32);
    color: white;
    outline: none;
    font-weight: bolder;
    border: solid 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}


    #seenOverlay {
        position: fixed;
        bottom: 45px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1000;
        pointer-events: none;
    }
    #seenText {
        font-weight: 500;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 30px;
        opacity: 0;
        transition: opacity 0.3s ease;
        max-width: 80%;
        max-height: 4.5em; /* Approximately 3 lines of text */
        overflow-y: auto;
        text-align: left;
        pointer-events: auto;
    }
    
    #seenText.visible {
        opacity: 1;
    }
    #seenText::-webkit-scrollbar {
        width: 6px;
    }
    #seenText::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 3px;
    }