@font-face {
    font-family: 'Gibralt';
    src: url('fonts/GibraltDEMO-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.logoNAV {
    font-family: 'Gibralt', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.logoNAV_B {
    font-size: 5vh;
}

.logoNAV_S {
    font-size: 3vh;
}

.logoBox {
    width: 55px;
    padding-right: 10px;

}

.blurred-nav {
    position: relative;
    background-color: rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

.blurred-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    margin: -20px;
    background: inherit;
    z-index: -1;
}

/* For browsers that support backdrop-filter */
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    .blurred-nav {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    .blurred-nav::before {
        display: none;
    }
}

.logoNAV:hover {
    color: darkslategrey;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.a-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.buttonYellow {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    outline: none;
    font-weight: bolder;
    border: solid 4px black;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.2s ease;
}

.buttonYellow:hover {
    background-color: rgb(243, 180, 32);
    color: white;
    outline: none;
    font-weight: bolder;
    border: solid 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}